body{
    background-color: #02010A;
}
h1, p, li{
    color: aliceblue;
}
h1,
.description {
  font-family: "Outfit", sans-serif;
}

.description {
  font-weight: 200;
}

.header h1{
    text-align: center;
}

.header p {
  display: inline;
}

.header-content{
    background-color: #04052E;
    padding: 20px;
}

.informations, a{
    padding-left: 20px;
}